In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

print("Libraries imported successfully!")

Libraries imported successfully!

In [2]:
df = pd.read_csv("../data/india_housing_prices.csv")
df.head()

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
0,1,Tamil Nadu,Chennai,Locality_84,Apartment,1,4740,489.76,0.10,1990,...,35,10,3,High,No,No,"Playground, Gym, Garden, Pool, Clubhouse",West,Owner,Ready_to_Move
1,2,Maharashtra,Pune,Locality_490,Independent House,3,2364,195.52,0.08,2008,...,17,8,1,Low,No,Yes,"Playground, Clubhouse, Pool, Gym, Garden",North,Builder,Under_Construction
2,3,Punjab,Ludhiana,Locality_167,Apartment,2,3642,183.79,0.05,1997,...,28,9,8,Low,Yes,No,"Clubhouse, Pool, Playground, Gym",South,Broker,Ready_to_Move
3,4,Rajasthan,Jodhpur,Locality_393,Independent House,2,2741,300.29,0.11,1991,...,34,5,7,High,Yes,Yes,"Playground, Clubhouse, Gym, Pool, Garden",North,Builder,Ready_to_Move
4,5,Rajasthan,Jaipur,Locality_466,Villa,4,4823,182.90,0.04,2002,...,23,4,9,Low,No,Yes,"Playground, Garden, Gym, Pool, Clubhouse",East,Builder,Ready_to_Move

In [3]:
df.isnull().sum()

ID                                0
State                             0
City                              0
Locality                          0
Property_Type                     0
BHK                               0
Size_in_SqFt                      0
Price_in_Lakhs                    0
Price_per_SqFt                    0
Year_Built                        0
Furnished_Status                  0
Floor_No                          0
Total_Floors                      0
Age_of_Property                   0
Nearby_Schools                    0
Nearby_Hospitals                  0
Public_Transport_Accessibility    0
Parking_Space                     0
Security                          0
Amenities                         0
Facing                            0
Owner_Type                        0
Availability_Status               0
dtype: int64

In [4]:
# Fill numerical missing values with median
df = df.fillna(df.median(numeric_only=True))

# Fill categorical missing values with mode
df = df.fillna(df.mode().iloc[0])

print("Missing values handled!")

Missing values handled!

In [5]:
df.drop_duplicates(inplace=True)
print("Duplicates removed!")

Duplicates removed!

In [6]:
df["Price_per_SqFt"] = (df["Price_in_Lakhs"] * 100000) / df["Size_in_SqFt"]
df["Price_per_SqFt"].head()

0    10332.489451
1     8270.727580
2     5046.403075
3    10955.490697
4     3792.245490
Name: Price_per_SqFt, dtype: float64

In [7]:
df["Age_of_Property"] = 2025 - df["Year_Built"]
df["Age_of_Property"].head()

0    35
1    17
2    28
3    34
4    23
Name: Age_of_Property, dtype: int64

In [10]:
df["Amenity_Count"] = df["Amenities"].astype(str).apply(lambda x: len(x.split(',')))
df["Amenity_Count"].head()

0    5
1    5
2    4
3    5
4    5
Name: Amenity_Count, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder

cat_cols = ["State", "City", "Locality", "Property_Type", "Furnished_Status", 
            "Security", "Facing", "Owner_Type", "Availability_Status"]

le = LabelEncoder()

for col in cat_cols:
    df[col] = le.fit_transform(df[col].astype(str))

df[cat_cols].head()

,State,City,Locality,Property_Type,Furnished_Status,Security,Facing,Owner_Type,Availability_Status
0,15,6,483,0,0,0,3,2,0
1,11,33,434,1,2,1,1,1,1
2,13,25,75,0,1,0,2,0,0
3,14,21,326,1,0,1,1,1,0
4,14,19,407,2,1,1,0,1,0

In [12]:
median_price = df["Price_per_SqFt"].median()
df["Good_Investment"] = (df["Price_per_SqFt"] < median_price).astype(int)

df["Good_Investment"].head()

0    0
1    1
2    1
3    0
4    1
Name: Good_Investment, dtype: int64

In [14]:
cat_cols = ["State", "City", "Locality", "Property_Type", "Furnished_Status", 
            "Security", "Facing", "Owner_Type"]

le = LabelEncoder()

for col in cat_cols:
    df[col] = le.fit_transform(df[col].astype(str))

df[cat_cols].head()

,State,City,Locality,Property_Type,Furnished_Status,Security,Facing,Owner_Type
0,7,38,427,0,0,0,3,2
1,3,27,373,1,2,1,1,1
2,5,18,473,0,1,0,2,0
3,6,14,253,1,0,1,1,1
4,6,11,343,2,1,1,0,1

In [15]:
df.to_csv("../data/cleaned_data.csv", index=False)
print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!